In [1]:
from pymongo import MongoClient
import pandas as pd
import time

In [2]:
client = MongoClient("localhost:27017")
db = client["ironhack"]
c = db.get_collection("companies")

In [25]:
c.distinct("category_code")

[None,
 'advertising',
 'analytics',
 'automotive',
 'biotech',
 'cleantech',
 'consulting',
 'design',
 'ecommerce',
 'education',
 'enterprise',
 'fashion',
 'finance',
 'games_video',
 'government',
 'hardware',
 'health',
 'hospitality',
 'legal',
 'local',
 'manufacturing',
 'medical',
 'messaging',
 'mobile',
 'music',
 'nanotech',
 'network_hosting',
 'news',
 'nonprofit',
 'other',
 'photo_video',
 'public_relations',
 'real_estate',
 'search',
 'security',
 'semiconductor',
 'social',
 'software',
 'sports',
 'transportation',
 'travel',
 'web']

In [27]:
condition1 = {"total_money_raised" : {"$regex": "\d{2,}\.?\d?M|\d{1,}\.?\d?B"}}
condition2 = {"tag_list": {"$regex": ".*design.|.tech.|.software.|.fashion."}}
condition3 = {"category_code": "web"}

projection = {"_id": 0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude": 1}

query = {"$and": [condition1, {"$or": [condition2, condition3]}]}
             

filtered_companies = list(c.find(query, projection))

In [29]:
df = pd.DataFrame(filtered_companies)
df

                name                                            offices
0           Wetpaint  [{'city': 'Seattle', 'latitude': 47.603122, 'l...
1               Digg  [{'city': 'San Francisco', 'latitude': 37.7647...
2               Geni  [{'city': 'West Hollywood', 'latitude': 34.090...
3        StumbleUpon  [{'city': 'San Francisco', 'latitude': 37.7751...
4             Gizmoz  [{'city': 'Menlo Park', 'latitude': 37.48413, ...
..               ...                                                ...
480       smartFOCUS  [{'city': 'Bristol', 'latitude': 51.4525116, '...
481     SOA Software  [{'city': 'Los Angeles', 'latitude': None, 'lo...
482  Arkeia Software  [{'city': 'Carlsbad', 'latitude': 33.132567, '...
483        Treehouse  [{'city': 'Orlando', 'latitude': None, 'longit...
484         iGuiders  [{'city': 'Beachwood', 'latitude': None, 'long...

[485 rows x 2 columns]

In [31]:
for row in df.iterrows():
    
    row["cities"] = row["offices"][0]["city"]
    
df

TypeError: tuple indices must be integers or slices, not str