In [131]:
from pymongo import MongoClient
import pandas as pd
import time

import os
import requests
import json
from dotenv import load_dotenv
import pandas as pd

import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element

import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd

import haversine as hs

# Filtering and extracting the data

In [5]:
client = MongoClient("localhost:27017")
db = client["ironhack"]
c = db.get_collection("companies")

In [6]:
# c.distinct("category_code")

In [108]:
condition1 = {"total_money_raised" : {"$regex": "\d{2,}\.?\d?M|\d{1,}\.?\d?B"}}
condition2 = {"tag_list": {"$regex": ".*design.|.tech.|.software.|.fashion."}}
condition3 = {"category_code": "web"}
condition4 = {"offices": {"$ne": []}}

projection = {"_id": 0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude": 1, "address1":1, "total_money_raised": 1}

query = {"$and": [condition1, condition4, {"$or": [condition2, condition3]}]}
             

filtered_companies = list(c.find(query, projection))

In [109]:
df = pd.DataFrame(filtered_companies)
df.sample(1)

,name,total_money_raised,offices
29,eBuddy,€11.5M,"[{'city': 'Amsterdam', 'latitude': 52.3640933,..."

In [110]:
df.offices[0]

[{'city': 'Seattle', 'latitude': 47.603122, 'longitude': -122.333253},
 {'city': 'New York', 'latitude': 40.7237306, 'longitude': -73.9964312}]

In [111]:
df = df.explode("offices")
df.sample(1)

,name,total_money_raised,offices
217,ClickandBuy,€25M,"{'city': 'London', 'latitude': None, 'longitud..."

In [112]:
df.reset_index(drop=True)
df.sample(1)

,name,total_money_raised,offices
182,Zemanta,$7.35M,"{'city': 'Ljubljana', 'latitude': 46.0607926, ..."

In [113]:
cities = []
latitudes = []
longitudes = []
addresses = []
money = []

for index, row in df.iterrows():
    
    try:
        cities.append(row["offices"]["city"])
        latitudes.append(row["offices"]["latitude"])
        longitudes.append(row["offices"]["longitude"])
    
    except IndexError:
        cities.append(None)
        latitudes.append(None)
        longitudes.append(None)

    
df["city"] = cities
df["latitude"] = latitudes
df["longitude"] = longitudes

In [114]:
df.sample()

,name,total_money_raised,offices,city,latitude,longitude
101,Vobile,$10M,"{'city': 'Santa Clara', 'latitude': 37.399208,...",Santa Clara,37.399208,-121.97895

In [115]:
df = df.drop("offices", axis=1)

In [116]:
df.city.value_counts().head(5) 
# Instead of Palo Alto, London. Being in Europe makes it easier for the employees
# to network with successful companies and/or employees from different countries and cultures.
# The US is massively big, so traveling to other countries for work becomes difficult.

San Francisco    65
New York         58
Palo Alto        19
San Mateo        17
London           17
Name: city, dtype: int64

In [117]:
df2 = df.copy()
df2["total_money_raised"] = df2["total_money_raised"].replace('M|\$|€|C|£', "", regex = True).replace('B', "000", regex = True)
df2["total_money_raised"] = pd.to_numeric(df2["total_money_raised"])

df2["total_money_raised"].max()

df2.to_csv("filtered_companies.csv", index=False)

In [191]:
df3_topcompanies = df2.loc[df2["city"].isin(['San Francisco', 'New York', 'London'])].sort_values("total_money_raised", ascending=False).groupby(["city"]).first().reset_index()
df3_topcompanies

            city   name  total_money_raised   latitude   longitude
0         London  OANDA               117.0  51.519204   -0.162610
1       New York    AOL              1000.0  40.731132  -73.991931
2  San Francisco   Xero               244.0  37.779507 -122.390710

In [284]:
#airports = pd.read_csv("../Project_3_Company_Headquarters/dataframes/airports.csv")
airports_london = airports.loc[(airports["municipality"] == "London") & (~airports["type"].isin(["closed", "small_airport", "heliport"]))]
airports_sanfrancisco = airports.loc[(airports["municipality"] == "San Francisco") & (~airports["type"].isin(["closed", "heliport"]))]
airports_newyork = airports.loc[(airports["municipality"] == "New York") & (~airports["type"].isin(["closed", "seaplane_base", "heliport"]))]

In [285]:
airports_london = airports_london.filter(['name','latitude_deg','longitude_deg', 'municipality'], axis=1).reset_index(drop=True)
airports_sanfrancisco = airports_sanfrancisco.filter(['name','latitude_deg','longitude_deg', 'municipality'], axis=1).reset_index(drop=True)
airports_newyork = airports_newyork.filter(['name','latitude_deg','longitude_deg', 'municipality'], axis=1).reset_index(drop=True)

In [291]:
airports_london.rename(columns = {'latitude_deg': 'lat', 'longitude_deg': 'lon', 'municipality':'city'}, inplace=True)
airports_sanfrancisco.rename(columns = {'latitude_deg': 'lat', 'longitude_deg': 'lon', 'municipality':'city'}, inplace=True)
airports_newyork.rename(columns = {'latitude_deg': 'lat', 'longitude_deg': 'lon', 'municipality':'city'}, inplace=True)

In [303]:
def type_airports_dfs (list_):
    type_ = []
    
    for df in list_:
        for index, row in df.iterrows():
            type_.append({"typepoint": {"type": "Point", "coordinates": [row["lat"], row["lon"]]}})
        df['type'] = pd.Series(type_)
        df['address'] = None
        df['type_of_place'] = 'Airport'

In [304]:
list_ = [airports_newyork, airports_london, airports_sanfrancisco]

type_airports_dfs(list_)

In [305]:
airports_newyork

,name,lat,lon,city,type,address,distance_from_company,type_of_place
0,Whaley Farm Airstrip,53.067137,-0.148616,New York,"{'typepoint': {'type': 'Point', 'coordinates':...",None,5864.262821,Airport
1,John F Kennedy International Airport,40.639447,-73.779317,New York,"{'typepoint': {'type': 'Point', 'coordinates':...",None,41.995114,Airport
2,La Guardia Airport,40.777199,-73.872597,New York,"{'typepoint': {'type': 'Point', 'coordinates':...",None,24.937776,Airport

# Accessing the API

In [18]:
token_fsq = os.getenv("key")

In [119]:
def get_results_from_foursquare (query, location, limit):

    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&sort=DISTANCE&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }

    response = requests.get(url, headers=headers).json()
    
    return response

In [205]:
def making_requests(query):
    
    location = []
    dict_of_dfs = dict()

    for index, row in df3_topcompanies.iterrows():

        location.append(row["longitude"])
        location.append(row["latitude"])

        places = get_results_from_foursquare(query, location, 50)

        dict_of_dfs[row["city"]] = creating_dfs(places, query, row["city"])

        location = []
               
    return dict_of_dfs

In [206]:
def creating_dfs(res, type_of_place, city):
    
    new_list = []
    
    for i in res["results"]:
    
        name = i["name"]
        address =  i["location"]["formatted_address"]
        lat = i["geocodes"]["main"]["latitude"]
        lon = i["geocodes"]["main"]["longitude"]

        type_ = {"typepoint": 
                              {"type": "Point", 
                               "coordinates": [lat, lon]}}

        new_list.append({"city": city, "name":name, "lat":lat, "lon":lon, "type":type_, "address": address, "type_of_place": type_of_place})
        
    df = pd.DataFrame.from_records(new_list)
        
    return df

In [225]:
# bars = dict_of_dfs
# bars = making_requests("bar")
# nightclubs = making_requests("Night Club")
# elementary_schools = making_requests("Elementary School")
#nurseries = making_requests("Nursery School")

In [88]:
bars = dict_of_dfs

In [ ]:
df2.to_csv("filtered_companies.csv", index=False)

In [244]:
bars1 = bars
nightclubs1 = nightclubs
elementary_schools1 = elementary_schools
nurseries1 = nurseries
airports1 = airports

In [127]:
# def names(word, dic):
    
#     for value in dic.values():
        
#         value["type_of_place"] = word
#         
        
# names("Bar", bars)
# names("Night Club", nightclubs)
# names("Elementary School", elementary_schools)
# names("Nursery School", nurseries)

In [301]:
def distances(df, dic):
    
    distance_from_company = []
    
    for index, row in df.iterrows():
        company_loc = (row["latitude"], row["longitude"])
        
        for df in dic.values():
            
            for index2, row2 in df.iterrows():
            
                try:

                    location = (row2["lat"], row2["lon"])

                    distance_from_company.append(hs.haversine(location, company_loc))
        

                except TypeError:
                    distance_from_company.append(None)
                
            df["distance_from_company"] = pd.Series(distance_from_company)

In [230]:
#distances(df3_topcompanies, nurseries)
#nurseries["New York"]

,city,name,lat,lon,type,address,type_of_place,distance_from_company
0,New York,All My Children Day Care & Nursery Schools,40.718759,-73.983154,"{'typepoint': {'type': 'Point', 'coordinates':...","112 Ridge St, New York, NY 10002",Nursery School,0.668536
1,New York,Cpc Jacob Riis Child Care Center,40.723487,-73.975831,"{'typepoint': {'type': 'Point', 'coordinates':...","108 Avenue D (E 8 Street), New York, NY 10009",Nursery School,0.714277
2,New York,Murray Hill Wee Ones Club,40.747777,-73.979311,"{'typepoint': {'type': 'Point', 'coordinates':...",128 E 36th St (between Lexington Avenue and Pa...,Nursery School,2.254976
3,New York,Chabad Of Tribeca,40.714902,-74.006048,"{'typepoint': {'type': 'Point', 'coordinates':...","54 Reade St, New York, NY 10007",Nursery School,3.528324
4,New York,Hands On For Music,40.713990,-74.007845,"{'typepoint': {'type': 'Point', 'coordinates':...","19 Warren St (Church St), New York, NY 10007",Nursery School,3.735764
5,New York,Hoboken Little School,40.736348,-74.028600,"{'typepoint': {'type': 'Point', 'coordinates':...","1 Newark St, Hoboken, NJ 07030",Nursery School,4.161132
6,New York,Bright Horizons,40.760271,-73.972197,"{'typepoint': {'type': 'Point', 'coordinates':...","410 Park Ave (55th), New York, NY 10022",Nursery School,4.395007
7,New York,Two By Two Childcare Academy,40.711485,-73.952844,"{'typepoint': {'type': 'Point', 'coordinates':...","418 Keap St, Brooklyn, NY 11211",Nursery School,4.577518
8,New York,Kiddie Korner Preschool,40.694051,-73.993487,"{'typepoint': {'type': 'Point', 'coordinates':...","117 Remsen St, Brooklyn, NY 11201",Nursery School,4.831164
9,New York,Scandinavian School of Jersey City,40.728324,-74.041813,"{'typepoint': {'type': 'Point', 'coordinates':...","513 Manila Ave (9th St), Jersey City, NJ 07302",Nursery School,4.756965
10,New York,Smart Start Academy,40.748911,-74.036748,"{'typepoint': {'type': 'Point', 'coordinates':...","552 9th St, Hoboken, NJ 07030",Nursery School,4.867779
11,New York,Explorers Academy,40.690011,-73.989358,"{'typepoint': {'type': 'Point', 'coordinates':...","110 Schermerhorn St, Brooklyn, NY 11201",Nursery School,4.908695
12,New York,Carrig Montessori School,40.715839,-73.939220,"{'typepoint': {'type': 'Point', 'coordinates':...","100 Maspeth Ave (Olive St.), Brooklyn, NY 11211",Nursery School,5.112013
13,New York,Mandell School,40.775322,-73.984451,"{'typepoint': {'type': 'Point', 'coordinates':...","150 Amsterdam Ave, New York, NY 10023",Nursery School,5.258201
14,New York,Queensbridge Early Childhood Development Center,40.755001,-73.935213,"{'typepoint': {'type': 'Point', 'coordinates':...","3811 27th St, Long Island City, NY 11101",Nursery School,5.960432
15,New York,Kids Run Around Daycare,40.681105,-73.979762,"{'typepoint': {'type': 'Point', 'coordinates':...","615 Warren St, Brooklyn, NY 11217",Nursery School,6.004073
16,New York,Brownstone School & Day Care Center,40.782991,-73.976272,"{'typepoint': {'type': 'Point', 'coordinates':...","128 W 80th St (Columbus), New York, NY 10024",Nursery School,6.081379
17,New York,Brooklyn Preschool of Science,40.679043,-73.976280,"{'typepoint': {'type': 'Point', 'coordinates':...","65 Park Pl, Brooklyn, NY 11217",Nursery School,6.499057
18,New York,Poppyseed Pre-Nursery,40.785260,-73.980207,"{'typepoint': {'type': 'Point', 'coordinates':...","424 W End Ave, New York, NY 10024",Nursery School,6.712315
19,New York,Park Slope Childcare,40.676268,-73.974035,"{'typepoint': {'type': 'Point', 'coordinates':...","186 Saint Johns Pl, Brooklyn, NY 11217",Nursery School,6.931170
20,New York,Beansprouts 6th Ave,40.668926,-73.983647,"{'typepoint': {'type': 'Point', 'coordinates':...","453 6th Ave, Brooklyn, NY 11215",Nursery School,7.093712
21,New York,Palisades Child Care Center,40.794927,-73.996018,"{'typepoint': {'type': 'Point', 'coordinates':...","7701 Marine Rd, North Bergen, NJ 07047",Nursery School,7.293214
22,New York,Appleview Preschool Early Learning Center,40.795891,-73.996319,"{'typepoint': {'type': 'Point', 'coordinates':...","7800 River Rd, North Bergen, NJ 07047",Nursery School,7.308289
23,New York,Friends of Crown Heights Educational Center,40.672754,-73.951573,"{'typepoint': {'type': 'Point', 'coordinates':...","813 Sterling Pl (Nostrand Avenue), Brooklyn, N...",Nursery School,7.574031
24,New York,Morningside Montessori School,40.797663,-73.970680,"{'typepoint': {'type': 'Point', 'coordinates':...","251 W 100th St (West End Avenue), New York, NY...",Nursery School,7.663203
25,New York,Therapy & Learning Center,40.659084,-73.984832,"{'typepoint': {'type': 'Point', 'coordinates':...","1723 8th Ave, Brooklyn, NY 11215",Nursery School,7.989793
26,New York,Atlantic Avenue Early Learning Center,40.677381,-73.925629,"{'typepoint': {'type': 'Point', 'coordinates':...","1825 Atlantic Ave, Brooklyn, NY 11233",Nursery School,8.037194
27,New York,James Weldon Johnson Head Start,40.794619,-73.937117,"{'typepoint': {'type': 'Point', 'coordinates':...","2205 1st Ave, New York, NY 10029",Nursery School,8.307453
28,New York,Tiny Scientist Day School,40.650317,-73.978212,"{'typepoint': {'type': 'Point', 'coordinates':...","318 Greenwood Ave, New York, NY 11218",Nursery School,8.890311
29,New York,Books & Rattles,40.716096,-73.886640,"{'typepoint': {'type': 'Point', 'coordinates':...","6308 69th Pl, Middle Village, NY 11379",Nursery School,8.534001
30,New York,Get Set Kindergarten School,40.642001,-73.934747,"{'typepoint': {'type': 'Point', 'coordinates':...","4423 Avenue D, Brooklyn, NY 11203",Nursery School,8.688068
31,New York,Moving Up Childrens Center,40.747173,-73.871853,"{'typepoint': {'type': 'Point', 'coordinates':...","4069 94th St, Queens, NY 11373",Nursery School,8.642764
32,New York,Elemental Arts Montessori,40.640393,-73.966583,"{'typepoint': {'type': 'Point', 'coordinates':...","364 Argyle Rd (Cortelyou), Brooklyn, NY 11218",Nursery School,8.836717
33,New York,Tessa's Group Family Daycare,40.635348,-73.943774,"{'typepoint': {'type': 'Point', 'coordinates':...","853 E 34th St (Farrugut & Glenwood), Brooklyn,...",Nursery School,9.349241
34,New York,Our Saviour's Lutheran Church,40.626864,-74.026221,"{'typepoint': {'type': 'Point', 'coordinates':...","414 80th St, Brooklyn, NY 11209",Nursery School,9.359171
35,New York,Father Justin's Learning Center,40.839920,-73.987684,"{'typepoint': {'type': 'Point', 'coordinates':...","223 14th St, Palisades Park, NJ 07650",Nursery School,9.947806
36,New York,Early Life Center #2,40.820560,-73.899353,"{'typepoint': {'type': 'Point', 'coordinates':...","888 Westchester Ave, Bronx, NY 10459",Nursery School,10.012890
37,New York,Learn and Grow Academy,40.848056,-73.990455,"{'typepoint': {'type': 'Point', 'coordinates':...","440 4th St, Palisades Park, NJ 07650",Nursery School,10.195026
38,New York,Tiny Tots Express Preschool,40.617787,-73.941753,"{'typepoint': {'type': 'Point', 'coordinates':...","3321 Avenue N, Brooklyn, NY 11234",Nursery School,10.343989
39,New York,J TG Bilingual Child Development Service Incor...,40.611827,-74.010769,"{'typepoint': {'type': 'Point', 'coordinates':...","1440 86th St (14th Avenue), Brooklyn, NY 11228",Nursery School,10.922811
40,New York,Eco 4 Kids,40.618599,-73.929458,"{'typepoint': {'type': 'Point', 'coordinates':...","4712 Avenue N, Brooklyn, NY 11234",Nursery School,11.121747
41,New York,Happy Daycare,40.809277,-74.117735,"{'typepoint': {'type': 'Point', 'coordinates':...","272 Ridge Rd, Lyndhurst, NJ 07071",Nursery School,11.156078
42,New York,Little Berries Day Care,40.606791,-73.999900,"{'typepoint': {'type': 'Point', 'coordinates':...","8416 19th Ave, New York, NY 11214",Nursery School,11.420151
43,New York,The Learning Experience - East Rutherford,40.829568,-74.097103,"{'typepoint': {'type': 'Point', 'coordinates':...","201 Hackensack St, East Rutherford, NJ 07073",Nursery School,11.489645
44,New York,Children’s House Montessori School,40.764475,-73.828716,"{'typepoint': {'type': 'Point', 'coordinates':...","35-19 Leavitt St, New York, NY 11354",Nursery School,11.522160
45,New York,Montessori School of East Rutherford,40.832668,-74.098282,"{'typepoint': {'type': 'Point', 'coordinates':...","144 Boiling Springs Ave, East Rutherford, NJ 0...",Nursery School,11.889839
46,New York,Brainy Academy Tutoring and Enrichment,40.585223,-73.951129,"{'typepoint': {'type': 'Point', 'coordinates':...","1733 Sheepshead Bay Rd, Brooklyn, NY 11235",Nursery School,12.080691
47,New York,Super Kids Academy,40.828340,-74.144573,"{'typepoint': {'type': 'Point', 'coordinates':...","18 Robert St, Clifton, NJ 07014",Nursery School,12.513278
48,New York,Classy Little Einstein,40.586566,-73.925066,"{'typepoint': {'type': 'Point', 'coordinates':...","7 Seba Ave, Brooklyn, NY 11229",Nursery School,12.541462
49,New York,Rainbow Castle Preschool,40.882664,-74.043110,"{'typepoint': {'type': 'Point', 'coordinates':...","148 Main St, Hackensack, NJ 07601",Nursery School,13.335013

In [307]:
# air = {"London" : airports_london,
#       "New York": airports_newyork,
#       "San Francisco": airports_sanfrancisco}

#distances(df3_topcompanies, air) ##why is the first value always wrong?

airports_sanfrancisco

,name,lat,lon,city,type,address,distance_from_company,type_of_place
0,San Francisco Airport,-31.414200,-62.133600,San Francisco,"{'typepoint': {'type': 'Point', 'coordinates':...",None,5864.262821,Airport
1,San Francisco International Airport,37.618999,-122.375000,San Francisco,"{'typepoint': {'type': 'Point', 'coordinates':...",None,41.995114,Airport
2,Camotes Airstrip,10.659550,124.370110,San Francisco,"{'typepoint': {'type': 'Point', 'coordinates':...",None,24.937776,Airport
3,San Francisco Airport,-12.533000,-73.800003,San Francisco,"{'typepoint': {'type': 'Point', 'coordinates':...",None,41.309482,Airport

In [314]:
London = concat_dfs([bars, nightclubs, nurseries, elementary_schools], "London")
London

KeyError: 'city'

In [312]:

def concat_dfs(list_, city):
    
    df1 = pd.DataFrame()
    
    for dic in list_:

        for df in dic.values():                
            right_df = False

            while right_df == False:

                if df["city"].iloc[0] == city:
                    df1 = pd.concat([df1, df], axis=0, join= "outer").reset_index(drop = True)
                    right_df = True

    return df1