In [131]:
from pymongo import MongoClient
import pandas as pd
import time

import os
import requests
import json
from dotenv import load_dotenv
import pandas as pd

import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element

import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd

import haversine as hs

# Filtering and extracting the data

In [5]:
client = MongoClient("localhost:27017")
db = client["ironhack"]
c = db.get_collection("companies")

In [6]:
# c.distinct("category_code")

In [108]:
condition1 = {"total_money_raised" : {"$regex": "\d{2,}\.?\d?M|\d{1,}\.?\d?B"}}
condition2 = {"tag_list": {"$regex": ".*design.|.tech.|.software.|.fashion."}}
condition3 = {"category_code": "web"}
condition4 = {"offices": {"$ne": []}}

projection = {"_id": 0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude": 1, "address1":1, "total_money_raised": 1}

query = {"$and": [condition1, condition4, {"$or": [condition2, condition3]}]}
             

filtered_companies = list(c.find(query, projection))

In [109]:
df = pd.DataFrame(filtered_companies)
df.sample(1)

,name,total_money_raised,offices
29,eBuddy,€11.5M,"[{'city': 'Amsterdam', 'latitude': 52.3640933,..."

In [110]:
df.offices[0]

[{'city': 'Seattle', 'latitude': 47.603122, 'longitude': -122.333253},
 {'city': 'New York', 'latitude': 40.7237306, 'longitude': -73.9964312}]

In [111]:
df = df.explode("offices")
df.sample(1)

,name,total_money_raised,offices
217,ClickandBuy,€25M,"{'city': 'London', 'latitude': None, 'longitud..."

In [112]:
df.reset_index(drop=True)
df.sample(1)

,name,total_money_raised,offices
182,Zemanta,$7.35M,"{'city': 'Ljubljana', 'latitude': 46.0607926, ..."

In [113]:
cities = []
latitudes = []
longitudes = []
addresses = []
money = []

for index, row in df.iterrows():
    
    try:
        cities.append(row["offices"]["city"])
        latitudes.append(row["offices"]["latitude"])
        longitudes.append(row["offices"]["longitude"])
    
    except IndexError:
        cities.append(None)
        latitudes.append(None)
        longitudes.append(None)

    
df["city"] = cities
df["latitude"] = latitudes
df["longitude"] = longitudes

In [114]:
df.sample()

,name,total_money_raised,offices,city,latitude,longitude
101,Vobile,$10M,"{'city': 'Santa Clara', 'latitude': 37.399208,...",Santa Clara,37.399208,-121.97895

In [115]:
df = df.drop("offices", axis=1)

In [116]:
df.city.value_counts().head(5) 
# Instead of Palo Alto, London. Being in Europe makes it easier for the employees
# to network with successful companies and/or employees from different countries and cultures.
# The US is massively big, so traveling to other countries for work becomes difficult.

San Francisco    65
New York         58
Palo Alto        19
San Mateo        17
London           17
Name: city, dtype: int64

In [117]:
df2 = df.copy()
df2["total_money_raised"] = df2["total_money_raised"].replace('M|\$|€|C|£', "", regex = True).replace('B', "000", regex = True)
df2["total_money_raised"] = pd.to_numeric(df2["total_money_raised"])

df2["total_money_raised"].max()

df2.to_csv("filtered_companies.csv", index=False)

In [191]:
df3_topcompanies = df2.loc[df2["city"].isin(['San Francisco', 'New York', 'London'])].sort_values("total_money_raised", ascending=False).groupby(["city"]).first().reset_index()
df3_topcompanies

            city   name  total_money_raised   latitude   longitude
0         London  OANDA               117.0  51.519204   -0.162610
1       New York    AOL              1000.0  40.731132  -73.991931
2  San Francisco   Xero               244.0  37.779507 -122.390710

In [143]:
# for index, row in df3_topcompanies.iterrows():
#         df3_topcompanies["lat_lon"] = (row["latitude"], row["longitude"])


# df3_topcompanies

ValueError: Length of values (2) does not match length of index (3)

# Accessing the API

In [18]:
token_fsq = os.getenv("key")

In [119]:
def get_results_from_foursquare (query, location, limit):

    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&sort=DISTANCE&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }

    response = requests.get(url, headers=headers).json()
    
    return response

In [205]:
def making_requests(query):
    
    location = []
    dict_of_dfs = dict()

    for index, row in df3_topcompanies.iterrows():

        location.append(row["longitude"])
        location.append(row["latitude"])

        places = get_results_from_foursquare(query, location, 50)

        dict_of_dfs[row["city"]] = creating_dfs(places, query, row["city"])

        location = []
               
    return dict_of_dfs

In [206]:
def creating_dfs(res, type_of_place, city):
    
    new_list = []
    
    for i in res["results"]:
    
        name = i["name"]
        address =  i["location"]["formatted_address"]
        lat = i["geocodes"]["main"]["latitude"]
        lon = i["geocodes"]["main"]["longitude"]

        type_ = {"typepoint": 
                              {"type": "Point", 
                               "coordinates": [lat, lon]}}

        new_list.append({"city": city, "name":name, "lat":lat, "lon":lon, "type":type_, "address": address, "type_of_place": type_of_place})
        
    df = pd.DataFrame.from_records(new_list)
        
    return df

In [97]:
# bars = dict_of_dfs
#dict_of_dfs = making_requests("bar")
# nightclubs = making_requests("Night Club")
# elementary_schools = making_requests("Elementary School")
# nurseries = making_requests("Nursery School")
airports = making_requests("International Airport")

In [88]:
bars = dict_of_dfs

In [ ]:
df2.to_csv("filtered_companies.csv", index=False)

In [90]:
bars1 = bars
nightclubs1 = nightclubs
elementary_schools1 = elementary_schools
nurseries1 = nurseries
airports1 = airports

In [127]:
# def names(word, dic):
    
#     for value in dic.values():
        
#         value["type_of_place"] = word
#         
        
# names("Bar", bars)
# names("Night Club", nightclubs)
# names("Elementary School", elementary_schools)
# names("Nursery School", nurseries)

In [199]:
nurseries["London"] = nurseries1["London"]
nurseries1["London"]

#hs.haversine((51.518239,-0.172147), (51.519204,-0.162610))

,name,lat,lon,type,address,type_of_place,distance_from_company
0,5577.481527,5577.481527,5577.481527,5577.481527,5577.481527,5577.481527,0
1,Merchant Square Day Nursery,51.519263,-0.171067,"{'typepoint': {'type': 'Point', 'coordinates':...","13 Harbet Rd, W2 1AJ",Nursery School,0
2,Imperial College Early Years Education Centre,51.500012,-0.173136,"{'typepoint': {'type': 'Point', 'coordinates':...","8 Princes Gardens, London, Greater London",Nursery School,0
3,The Lloyd Williamson School,51.508692,-0.193512,"{'typepoint': {'type': 'Point', 'coordinates':...","112 Palace Gardens Terrace, London, Greater Lo...",Nursery School,0
4,Ladbroke Square Montessori School,51.510763,-0.200133,"{'typepoint': {'type': 'Point', 'coordinates':...","43 Ladbroke Square, London, Greater London, W1...",Nursery School,0
5,Southbank International School,51.549171,-0.179382,"{'typepoint': {'type': 'Point', 'coordinates':...","16 Netherhall Gardens, London, Greater London,...",Nursery School,0
6,London Early Years Foundation,51.493039,-0.128753,"{'typepoint': {'type': 'Point', 'coordinates':...","121 Marsham St, Millbank, Greater London, SW1P...",Nursery School,0
7,Young England Kindergarten,51.488701,-0.135966,"{'typepoint': {'type': 'Point', 'coordinates':...","St Saviours Hall, St, London, Greater London, ...",Nursery School,0
8,Swiss Cottage School,51.541995,-0.210322,"{'typepoint': {'type': 'Point', 'coordinates':...","5-7 The Ave, Brent, Greater London, NW6 7YG",Nursery School,0
9,Hopes & Dreams,51.531108,-0.102032,"{'typepoint': {'type': 'Point', 'coordinates':...","339-341 City Rd, London, Greater London, EC1V 1LJ",Nursery School,0
10,Hatching Dragons,51.518113,-0.096477,"{'typepoint': {'type': 'Point', 'coordinates':...","Ironmongers Hall Shaftesbury Pl, Barbican, Lon...",Nursery School,0
11,Hatching Dragons,51.522868,-0.093033,"{'typepoint': {'type': 'Point', 'coordinates':...","1 Viscount St, London, Greater London, EC1Y 0AA",Nursery School,0
12,Montessori by Busy Bees Fortune Green,51.555265,-0.197223,"{'typepoint': {'type': 'Point', 'coordinates':...","47-51 Fortune Green Rd, London, Greater London...",Nursery School,0
13,Pippa Pop-Ins,51.480375,-0.191456,"{'typepoint': {'type': 'Point', 'coordinates':...","430 Fulham Rd, London, SW6 1DU",Nursery School,0
14,Packington Square,51.534490,-0.096675,"{'typepoint': {'type': 'Point', 'coordinates':...",,Nursery School,0
15,Little Garden Hammersmith Day Nursery,51.499844,-0.226354,"{'typepoint': {'type': 'Point', 'coordinates':...","50 Richfield Gate, London, Greater London, W6 7HZ",Nursery School,0
16,Bayonne Nursery,51.484499,-0.214210,"{'typepoint': {'type': 'Point', 'coordinates':...","Hammersmith, Greater London",Nursery School,0
17,Essex Road Post Office,51.541207,-0.094051,"{'typepoint': {'type': 'Point', 'coordinates':...","Walter sickett, Islington, Greater London",Nursery School,0
18,Bright Horizons Fulham Day Nursery and Preschool,51.474374,-0.203971,"{'typepoint': {'type': 'Point', 'coordinates':...","16 Lettice St, Fulham, Greater London, SW6 4EH",Nursery School,0
19,Comet Nursery School & Children's Centre,51.535869,-0.080720,"{'typepoint': {'type': 'Point', 'coordinates':...","20 Halcomb St, London, N1 5RF",Nursery School,0
20,Lavender Hill Day Nursery,51.465225,-0.164764,"{'typepoint': {'type': 'Point', 'coordinates':...","204 Lavender Hill, London, Greater London, SW1...",Nursery School,0
21,Monkey Puzzle Day Nursery,51.556630,-0.098494,"{'typepoint': {'type': 'Point', 'coordinates':...","Loxfords House, Highbury Park, London, Greater...",Nursery School,0
22,Sunshine Nursery,51.483516,-0.240821,"{'typepoint': {'type': 'Point', 'coordinates':...","7 Stillingfleet Rd, London, SW13 9AQ",Nursery School,0
23,Bright Horizons Golders Green Day Nursery and ...,51.577102,-0.205690,"{'typepoint': {'type': 'Point', 'coordinates':...","212 Golders Green Rd, London, Greater London, ...",Nursery School,0
24,YMCA at Holy Trinity Church Halls,51.574832,-0.110688,"{'typepoint': {'type': 'Point', 'coordinates':...",,Nursery School,0
25,Montessori by Busy Bees Green Gables,51.509091,-0.058476,"{'typepoint': {'type': 'Point', 'coordinates':...","4 Wapping Lane, London, Greater London, E1W 2RG",Nursery School,0
26,Wapping Childrens Centre,51.505373,-0.059367,"{'typepoint': {'type': 'Point', 'coordinates':...","Poplar, Greater London",Nursery School,0
27,Bright Horizons West Hill Day Nursery and Pres...,51.457081,-0.200993,"{'typepoint': {'type': 'Point', 'coordinates':...","38 West Hill, London, Greater London, SW18 1RX",Nursery School,0
28,Chiswick Nursery,51.492719,-0.264829,"{'typepoint': {'type': 'Point', 'coordinates':...","Marlborough Rd, London, Greater London",Nursery School,0
29,Fortis Green Nursery,51.591015,-0.158611,"{'typepoint': {'type': 'Point', 'coordinates':...","70 Fortis Green, London, N2 9EP",Nursery School,0
30,Morningside Children's centre,51.546109,-0.050568,"{'typepoint': {'type': 'Point', 'coordinates':...",,Nursery School,0
31,Eden Primary School,51.594807,-0.154926,"{'typepoint': {'type': 'Point', 'coordinates':...",,Nursery School,0
32,Nuffy Bear Nursery,51.445342,-0.196087,"{'typepoint': {'type': 'Point', 'coordinates':...","King Georges Sport Ground (Burr Road), London,...",Nursery School,0
33,Maria Montessori Nursery School Within Church ...,51.522126,-0.287437,"{'typepoint': {'type': 'Point', 'coordinates':...","Beaufort Rd, London, W5 3EB",Nursery School,0
34,Hendon Preparatory School & Pre-School,51.591125,-0.216984,"{'typepoint': {'type': 'Point', 'coordinates':...","20 Tenterden Grove, London, Greater London, NW...",Nursery School,0
35,Trinity Childcare,51.500136,-0.037843,"{'typepoint': {'type': 'Point', 'coordinates':...",Bryan Rd,Nursery School,0
36,Bright Horizons Kew Day Nursery and Preschool,51.474076,-0.276563,"{'typepoint': {'type': 'Point', 'coordinates':...","Townmead Rd, Richmond, Greater London, TW9 4ES",Nursery School,0
37,Eastwood Day Nursery & Creche,51.452259,-0.244538,"{'typepoint': {'type': 'Point', 'coordinates':...","166 Roehampton L, Greater London, SW15 4HE",Nursery School,0
38,Bright Horizons Tooting Looking Glass Day Nurs...,51.431643,-0.151278,"{'typepoint': {'type': 'Point', 'coordinates':...","75 MacMillan Way, Greater London, SW17 6AT",Nursery School,0
39,The Grange children centre,51.503954,-0.305209,"{'typepoint': {'type': 'Point', 'coordinates':...","Greater London, W5 4HN",Nursery School,0
40,Montys Nursery,51.469649,-0.283084,"{'typepoint': {'type': 'Point', 'coordinates':...","25 Marksbury Ave, Richmond, TW9 4JE",Nursery School,0
41,Bright Horizons North Finchley Day Nursery and...,51.610114,-0.181761,"{'typepoint': {'type': 'Point', 'coordinates':...","10-11 Moss Hall Crescent, London, Greater Lond...",Nursery School,0
42,Smarty Pants Abbey Lane Children S Centre,51.533191,-0.006331,"{'typepoint': {'type': 'Point', 'coordinates':...","1 Abbey Lane, London, Greater London, E15 2SD",Nursery School,0
43,Cavendish Lodge Nursery School,51.421990,-0.134272,"{'typepoint': {'type': 'Point', 'coordinates':...","52 Lewin Rd, London, SW16 6JT",Nursery School,0
44,Pathfield Nursery,51.421074,-0.130714,"{'typepoint': {'type': 'Point', 'coordinates':...","123 Greyhound Lane, London, Greater London, SW...",Nursery School,0
45,Montessori by Busy Bees Kenton,51.580182,-0.290055,"{'typepoint': {'type': 'Point', 'coordinates':...","120 Preston Hill, Harrow on the Hill, Greater ...",Nursery School,0
46,Alpha Nursery,51.473208,-0.013989,"{'typepoint': {'type': 'Point', 'coordinates':...","London, Greater London, SE10 8PA",Nursery School,0
47,Christ Church Primary School,51.437616,-0.051637,"{'typepoint': {'type': 'Point', 'coordinates':...",,Nursery School,0
48,Bright Horizons Salcombe Day Nursery and Presc...,51.625146,-0.123866,"{'typepoint': {'type': 'Point', 'coordinates':...","33 The Green, Southgate, Greater London, N14 6EN",Nursery School,0
49,More 2 Childcare,51.485674,0.004494,"{'typepoint': {'type': 'Point', 'coordinates':...",,Nursery School,0

In [203]:
def distances(df, dic):
    
    distance_from_company = []
    location = (0,0)
    company_loc = (0,0)
    
    for index, row in df.iterrows():
        company_loc = (row["latitude"], row["longitude"])
        
        for value in dic.values():
            
            for index2, row2 in value.iterrows():
            
                try:

                    location = (row2["lat"], row2["lon"])

                    distance_from_company.append(hs.haversine(location, company_loc))

                except TypeError:
                    distance_from_company.append(None)
    
    df["distance_from_company"] = pd.Series(distance_from_company)

In [204]:
distances(df3_topcompanies, bars)
bars["London"]

AttributeError: 'str' object has no attribute 'iterrows'

In [210]:
l = pd.concat([bars["London"], nightclubs["London"]], axis=0, join= "outer").reset_index()
l

def concat_dfs(*args, city):
    
    for arg in args:
        for values in arg.values():
            for index, row in values:
                cities[city] = pd.concat([row[city], nightclubs["London"]], axis=0, join= "outer").reset_index()

,index,name,lat,lon,type,address,type_of_place
0,0,The Mirror Bar,51.521536,-0.162908,"{'typepoint': {'type': 'Point', 'coordinates':...","222 Marylebone Rd, London, Greater London, NW1...",Bar
1,1,Sara Cafe,51.520111,-0.158643,"{'typepoint': {'type': 'Point', 'coordinates':...","13A Crawford St, London, Greater London, W1U 6BZ",Bar
2,2,Marriott Marble Arch - Executive Lounge,51.516266,-0.163932,"{'typepoint': {'type': 'Point', 'coordinates':...","134 George St, London, Greater London, W1H 5DN",Bar
3,3,Gino's Coffee Bar,51.522114,-0.162098,"{'typepoint': {'type': 'Point', 'coordinates':...","Great Central St, London, Greater London, NW1 6JH",Bar
4,4,Sports Bar & Grill,51.522365,-0.163686,"{'typepoint': {'type': 'Point', 'coordinates':...","Marylebone Station, Melcombe Pl, Marylebone, G...",Bar
...,...,...,...,...,...,...,...
95,45,Popworld Watling Street,51.513057,-0.094700,"{'typepoint': {'type': 'Point', 'coordinates':...","17 Watling St, London, Greater London, EC4M 9BB",Night Club
96,46,The Hoist,51.484716,-0.121544,"{'typepoint': {'type': 'Point', 'coordinates':...","32 Vauxhall Grove, London, SW8 1SY",Night Club
97,47,Ministry of Sound,51.497637,-0.099503,"{'typepoint': {'type': 'Point', 'coordinates':...","103 Gaunt St, London, Greater London, SE1 6DP",Night Club
98,48,The Steelyard,51.510136,-0.090236,"{'typepoint': {'type': 'Point', 'coordinates':...","Allhallow St, London, Greater London, EC4R 3UL",Night Club
99,49,Belushi's,51.502973,-0.091680,"{'typepoint': {'type': 'Point', 'coordinates':...","161-165 Borough High St, Bridge, Greater Londo...",Night Club