In [1]:
from pymongo import MongoClient
import pandas as pd
import time

In [2]:
client = MongoClient("localhost:27017")
db = client["ironhack"]
c = db.get_collection("companies")

In [3]:
c.distinct("category_code")

[None,
 'advertising',
 'analytics',
 'automotive',
 'biotech',
 'cleantech',
 'consulting',
 'design',
 'ecommerce',
 'education',
 'enterprise',
 'fashion',
 'finance',
 'games_video',
 'government',
 'hardware',
 'health',
 'hospitality',
 'legal',
 'local',
 'manufacturing',
 'medical',
 'messaging',
 'mobile',
 'music',
 'nanotech',
 'network_hosting',
 'news',
 'nonprofit',
 'other',
 'photo_video',
 'public_relations',
 'real_estate',
 'search',
 'security',
 'semiconductor',
 'social',
 'software',
 'sports',
 'transportation',
 'travel',
 'web']

In [4]:
condition1 = {"total_money_raised" : {"$regex": "\d{2,}\.?\d?M|\d{1,}\.?\d?B"}}
condition2 = {"tag_list": {"$regex": ".*design.|.tech.|.software.|.fashion."}}
condition3 = {"category_code": "web"}
condition4 = {"offices": {"$ne": []}}

projection = {"_id": 0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude": 1}

query = {"$and": [condition1, condition4, {"$or": [condition2, condition3]}]}
             

filtered_companies = list(c.find(query, projection))

In [5]:
df = pd.DataFrame(filtered_companies)
df

                name                                            offices
0           Wetpaint  [{'city': 'Seattle', 'latitude': 47.603122, 'l...
1               Digg  [{'city': 'San Francisco', 'latitude': 37.7647...
2               Geni  [{'city': 'West Hollywood', 'latitude': 34.090...
3        StumbleUpon  [{'city': 'San Francisco', 'latitude': 37.7751...
4             Gizmoz  [{'city': 'Menlo Park', 'latitude': 37.48413, ...
..               ...                                                ...
471       smartFOCUS  [{'city': 'Bristol', 'latitude': 51.4525116, '...
472     SOA Software  [{'city': 'Los Angeles', 'latitude': None, 'lo...
473  Arkeia Software  [{'city': 'Carlsbad', 'latitude': 33.132567, '...
474        Treehouse  [{'city': 'Orlando', 'latitude': None, 'longit...
475         iGuiders  [{'city': 'Beachwood', 'latitude': None, 'long...

[476 rows x 2 columns]

In [6]:
df.offices[0]

[{'city': 'Seattle', 'latitude': 47.603122, 'longitude': -122.333253},
 {'city': 'New York', 'latitude': 40.7237306, 'longitude': -73.9964312}]

In [7]:
df = df.explode("offices")
df

                name                                            offices
0           Wetpaint  {'city': 'Seattle', 'latitude': 47.603122, 'lo...
0           Wetpaint  {'city': 'New York', 'latitude': 40.7237306, '...
1               Digg  {'city': 'San Francisco', 'latitude': 37.76472...
2               Geni  {'city': 'West Hollywood', 'latitude': 34.0903...
3        StumbleUpon  {'city': 'San Francisco', 'latitude': 37.77519...
..               ...                                                ...
472     SOA Software  {'city': 'Los Angeles', 'latitude': None, 'lon...
473  Arkeia Software  {'city': 'Carlsbad', 'latitude': 33.132567, 'l...
474        Treehouse  {'city': 'Orlando', 'latitude': None, 'longitu...
474        Treehouse  {'city': 'Portland', 'latitude': None, 'longit...
475         iGuiders  {'city': 'Beachwood', 'latitude': None, 'longi...

[649 rows x 2 columns]

In [8]:
df.reset_index(drop=True)

                name                                            offices
0           Wetpaint  {'city': 'Seattle', 'latitude': 47.603122, 'lo...
1           Wetpaint  {'city': 'New York', 'latitude': 40.7237306, '...
2               Digg  {'city': 'San Francisco', 'latitude': 37.76472...
3               Geni  {'city': 'West Hollywood', 'latitude': 34.0903...
4        StumbleUpon  {'city': 'San Francisco', 'latitude': 37.77519...
..               ...                                                ...
644     SOA Software  {'city': 'Los Angeles', 'latitude': None, 'lon...
645  Arkeia Software  {'city': 'Carlsbad', 'latitude': 33.132567, 'l...
646        Treehouse  {'city': 'Orlando', 'latitude': None, 'longitu...
647        Treehouse  {'city': 'Portland', 'latitude': None, 'longit...
648         iGuiders  {'city': 'Beachwood', 'latitude': None, 'longi...

[649 rows x 2 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 649 entries, 0 to 475
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     649 non-null    object
 1   offices  649 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

In [10]:
cities = []
latitudes = []
longitudes = []

for index, row in df.iterrows():
    
    try:
        cities.append(row["offices"]["city"])
        latitudes.append(row["offices"]["latitude"])
        longitudes.append(row["offices"]["longitude"])
    
    except IndexError:
        cities.append(None)
        latitudes.append(None)
        longitudes.append(None)
    
    
df["city"] = cities
df["latitude"] = latitudes
df["longitude"] = longitudes

In [11]:
df

,name,offices,city,latitude,longitude
0,Wetpaint,"{'city': 'Seattle', 'latitude': 47.603122, 'lo...",Seattle,47.603122,-122.333253
0,Wetpaint,"{'city': 'New York', 'latitude': 40.7237306, '...",New York,40.723731,-73.996431
1,Digg,"{'city': 'San Francisco', 'latitude': 37.76472...",San Francisco,37.764726,-122.394523
2,Geni,"{'city': 'West Hollywood', 'latitude': 34.0903...",West Hollywood,34.090368,-118.393064
3,StumbleUpon,"{'city': 'San Francisco', 'latitude': 37.77519...",San Francisco,37.775196,-122.419204
...,...,...,...,...,...
472,SOA Software,"{'city': 'Los Angeles', 'latitude': None, 'lon...",Los Angeles,NaN,NaN
473,Arkeia Software,"{'city': 'Carlsbad', 'latitude': 33.132567, 'l...",Carlsbad,33.132567,-117.292746
474,Treehouse,"{'city': 'Orlando', 'latitude': None, 'longitu...",Orlando,NaN,NaN
474,Treehouse,"{'city': 'Portland', 'latitude': None, 'longit...",Portland,NaN,NaN
475,iGuiders,"{'city': 'Beachwood', 'latitude': None, 'longi...",Beachwood,NaN,NaN

In [14]:
df.drop("offices", axis=1)

                name            city   latitude   longitude
0           Wetpaint         Seattle  47.603122 -122.333253
0           Wetpaint        New York  40.723731  -73.996431
1               Digg   San Francisco  37.764726 -122.394523
2               Geni  West Hollywood  34.090368 -118.393064
3        StumbleUpon   San Francisco  37.775196 -122.419204
..               ...             ...        ...         ...
472     SOA Software     Los Angeles        NaN         NaN
473  Arkeia Software        Carlsbad  33.132567 -117.292746
474        Treehouse         Orlando        NaN         NaN
474        Treehouse        Portland        NaN         NaN
475         iGuiders       Beachwood        NaN         NaN

[649 rows x 4 columns]