In [101]:
from pymongo import MongoClient
import pandas as pd
import time

import os
import requests
import json
from dotenv import load_dotenv
import pandas as pd

import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element

import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd
import statistics as s

import haversine as hs
load_dotenv()

True

# Filtering and extracting the data

In [29]:
client = MongoClient("localhost:27017")
db = client["ironhack"]
c = db.get_collection("companies")

In [30]:
# c.distinct("category_code")

In [31]:
def filtering_companies():

    condition1 = {"total_money_raised" : {"$regex": "\d{2,}\.?\d?M|\d{1,}\.?\d?B"}}
    condition2 = {"tag_list": {"$regex": ".*design.|.tech.|.software.|.fashion."}}
    condition3 = {"category_code": "web"}
    condition4 = {"offices": {"$ne": []}}

    projection = {"_id": 0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude": 1, "address1":1, "total_money_raised": 1}

    query = {"$and": [condition1, condition4, {"$or": [condition2, condition3]}]}


    filtered_companies = list(c.find(query, projection))
    df = pd.DataFrame(filtered_companies)
    
    return df

In [32]:
df = filtering_companies()
df.sample(1)

,name,total_money_raised,offices
287,Swype,$13.9M,"[{'city': 'Seattle', 'latitude': 47.6495905, '..."

In [33]:
def cleaning_companies_df(df):

    df = df.explode("offices")
    df.reset_index(drop=True)
    
    cities = []
    latitudes = []
    longitudes = []
    addresses = []
    money = []

    for index, row in df.iterrows():

        try:
            cities.append(row["offices"]["city"])
            latitudes.append(row["offices"]["latitude"])
            longitudes.append(row["offices"]["longitude"])

        except IndexError:
            cities.append(None)
            latitudes.append(None)
            longitudes.append(None)


    df["city"] = cities
    df["latitude"] = latitudes
    df["longitude"] = longitudes
    
    df = df.drop("offices", axis=1)
    
    df["total_money_raised"] = df["total_money_raised"].replace('M|\$|€|C|£', "", regex = True).replace('B', "000", regex = True)
    df["total_money_raised"] = pd.to_numeric(df["total_money_raised"])

    df.to_csv("filtered_companies.csv", index=False)
    
    return df

In [34]:
df2 = cleaning_companies_df(df)

In [35]:
df.head(1)

,name,total_money_raised,offices
0,Wetpaint,$39.8M,"[{'city': 'Seattle', 'latitude': 47.603122, 'l..."

In [36]:
# cities = []
# latitudes = []
# longitudes = []
# addresses = []
# money = []

# for index, row in df.iterrows():
    
#     try:
#         cities.append(row["offices"]["city"])
#         latitudes.append(row["offices"]["latitude"])
#         longitudes.append(row["offices"]["longitude"])
    
#     except IndexError:
#         cities.append(None)
#         latitudes.append(None)
#         longitudes.append(None)

    
# df["city"] = cities
# df["latitude"] = latitudes
# df["longitude"] = longitudes

In [37]:
# df.city.value_counts().head(5) 
# Instead of Palo Alto, London. Being in Europe makes it easier for the employees
# to network with successful companies and/or employees from different countries and cultures.
# The US is massively big, so traveling to other countries for work becomes difficult.

In [38]:
# df2 = df.copy()
# df2["total_money_raised"] = df2["total_money_raised"].replace('M|\$|€|C|£', "", regex = True).replace('B', "000", regex = True)
# df2["total_money_raised"] = pd.to_numeric(df2["total_money_raised"])

# df2["total_money_raised"].max()

# df2.to_csv("filtered_companies.csv", index=False)

In [39]:
df3_topcompanies = df2.loc[df2["city"].isin(['San Francisco', 'New York', 'London'])].sort_values("total_money_raised", ascending=False).groupby(["city"]).first().reset_index()
df3_topcompanies

            city   name  total_money_raised   latitude   longitude
0         London  OANDA               117.0  51.519204   -0.162610
1       New York    AOL              1000.0  40.731132  -73.991931
2  San Francisco   Xero               244.0  37.779507 -122.390710

In [40]:
def creating_airports_df(df, city):
    
    type_ = []

    new = df.loc[(airports["municipality"] == city) & (~airports["type"].isin(["closed", "seaplane_base", "heliport"]))]
    
    new = new.filter(['name','latitude_deg','longitude_deg', 'municipality'], axis=1).reset_index(drop=True)
    
    new.rename(columns = {'latitude_deg': 'lat', 'longitude_deg': 'lon', 'municipality':'city'}, inplace=True)
    
    for index, row in new.iterrows():
        type_.append({"typepoint": {"type": "Point", "coordinates": [row["lat"], row["lon"]]}})
        
    new['type'] = pd.Series(type_)
    new['address'] = None
    new['type_of_place'] = 'Airport'

    return new

In [41]:
airports = pd.read_csv("../Project_3_Company_Headquarters/dataframes/airports.csv")

airports_london = creating_airports_df(airports, "London")
airports_newyork = creating_airports_df(airports, "New York")
airports_sanfrancisco = creating_airports_df(airports, "San Francisco")

In [42]:
# def type_airports_dfs (list_):
#     type_ = []
    
#     for df in list_:
#         for index, row in df.iterrows():
#             type_.append({"typepoint": {"type": "Point", "coordinates": [row["lat"], row["lon"]]}})
#         df['type'] = pd.Series(type_)
#         df['address'] = None
#         df['type_of_place'] = 'Airport'

In [43]:
# list_ = [airports_newyork, airports_london, airports_sanfrancisco]

# type_airports_dfs(list_)

# Accessing the API

In [44]:
token_fsq = os.getenv("key")
token_fsq

'fsq3+bzNB46UzQcV4R4Uc5gDnPvzCPqR93jv1QubIBPd4oY='

In [45]:
def get_results_from_foursquare (query, location, limit):

    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&sort=DISTANCE&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }

    response = requests.get(url, headers=headers).json()
    
    return response

In [46]:
def making_requests(query):
    
    location = []
    dict_of_dfs = dict()

    for index, row in df3_topcompanies.iterrows():

        location.append(row["longitude"])
        location.append(row["latitude"])

        places = get_results_from_foursquare(query, location, 50)
        print(places)

        dict_of_dfs[row["city"]] = creating_dfs(places, query, row["city"])

        location = []
               
    return dict_of_dfs

In [47]:
def creating_dfs(res, type_of_place, city):
    
    new_list = []
    
    for i in res["results"]:
    
        name = i["name"]
        address =  i["location"]["formatted_address"]
        lat = i["geocodes"]["main"]["latitude"]
        lon = i["geocodes"]["main"]["longitude"]

        type_ = {"typepoint": 
                              {"type": "Point", 
                               "coordinates": [lat, lon]}}

        new_list.append({"name":name, "lat":lat, "lon":lon, "city": city, "type":type_, "address": address, "type_of_place": type_of_place})
        
    df = pd.DataFrame.from_records(new_list)
        
    return df

In [ ]:
bars = making_requests("Bar")
nightclubs = making_requests("Night Club")
elementary_schools = making_requests("Elementary School")
nurseries = making_requests("Nursery School")

In [49]:
#df2.to_csv("filtered_companies.csv", index=False)

In [50]:
bars1 = bars
nightclubs1 = nightclubs
elementary_schools1 = elementary_schools
nurseries1 = nurseries

In [51]:
# def names(word, dic):
    
#     for value in dic.values():
        
#         value["type_of_place"] = word
#         
        
# names("Bar", bars)
# names("Night Club", nightclubs)
# names("Elementary School", elementary_schools)
# names("Nursery School", nurseries)

In [52]:
def distances(df, dic):
    
    distance_from_company = []
    
    for index, row in df.iterrows():
        company_loc = (row["latitude"], row["longitude"])
        
        for df in dic.values():
            
            for index2, row2 in df.iterrows():
            
                try:

                    location = (row2["lat"], row2["lon"])

                    distance_from_company.append(hs.haversine(location, company_loc))
                    print(distance_from_company)
        

                except TypeError:
                    distance_from_company.append(None)
                
            df["distance_from_company"] = pd.Series(distance_from_company)

In [68]:
# air = {"London" : airports_london,
#       "New York": airports_newyork,
#       "San Francisco": airports_sanfrancisco}

# airports1 = air

# distances(df3_topcompanies, nurseries)
# distances(df3_topcompanies, bars)
# distances(df3_topcompanies, nightclubs)
# distances(df3_topcompanies, elementary_schools)
distances(df3_topcompanies, air) ##why is the first value always wrong?

In [108]:
hs.haversine((air["New York"]["lat"].head(1), air["New York"]["lon"].head(1)), (40.731132, -73.991931))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [107]:
air["New York"]["lon"].dtypes

dtype('float64')

In [54]:

def concat_dfs(list_, city):
    
    df1 = pd.DataFrame()
    
    for dic in list_:

        for df in dic.values():                

            if df["city"].iloc[0] == city:
                df1 = pd.concat([df1, df], axis=0, join= "outer").reset_index(drop = True)

    return df1

In [ ]:
london = concat_dfs([bars, nightclubs, nurseries, elementary_schools, air], "London")
new_york = concat_dfs([bars, nightclubs, nurseries, elementary_schools, air], "New York")
san_francisco = concat_dfs([bars, nightclubs, nurseries, elementary_schools, air], "San Francisco")

In [61]:
new_york

,name,lat,lon,city,type,address,type_of_place,distance_from_company
0,Knickerbocker Bar & Grill,40.731887,-73.994365,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","33 University Pl (at E 9th St.), New York, NY ...",Bar,0.260102
1,Spot Dessert Bar,40.729281,-73.988979,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","13 Saint Marks Pl (btwn 2nd & 3rd Ave), New Yo...",Bar,0.292434
2,McSorley's Old Ale House,40.728764,-73.989690,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","15 E 7th St (btwn Cooper Sq & 3rd Ave), New Yo...",Bar,0.339272
3,No Bar,40.727883,-73.990802,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","25 Cooper Sq, New York, NY 10003",Bar,0.325491
4,Sake Bar Decibel,40.729209,-73.987667,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","240 E 9th St (btwn 2nd & 3rd Ave), New York, N...",Bar,0.359259
...,...,...,...,...,...,...,...,...
198,George Washington Elementary School,40.706213,-74.228157,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","1530 Leslie St, Hillside, NJ 07205",Elementary School,12.693778
199,Lincoln Elementary School,40.917423,-74.007476,New York,"{'typepoint': {'type': 'Point', 'coordinates':...","115 Highview Ave (Schoolcraft Rd), Bergenfield...",Elementary School,12.903635
200,Whaley Farm Airstrip,53.067137,-0.148616,New York,"{'typepoint': {'type': 'Point', 'coordinates':...",None,Airport,6496.379543
201,John F Kennedy International Airport,40.639447,-73.779317,New York,"{'typepoint': {'type': 'Point', 'coordinates':...",None,Airport,5860.177410
202,La Guardia Airport,40.777199,-73.872597,New York,"{'typepoint': {'type': 'Point', 'coordinates':...",None,Airport,5864.933732

In [59]:
# london.to_csv("london_places.csv", index=False)
# new_york.to_csv("ny_places.csv", index=False)
# san_francisco.to_csv("sanfrancisco_places.csv", index=False)

In [98]:
def city_weights(df):
    
    city = df["city"].iloc[0] 
    weights = {"bars" : round((df.loc[df["type_of_place"] == "Bar"]["distance_from_company"].head(5).mean())*0.6, 2),
                "nightclubs" : round((df.loc[df["type_of_place"] == "Night Club"]["distance_from_company"].head(5).mean())*0.6, 2),
                "elementary_schools": round(df.loc[df["type_of_place"] == "Elementary School"]["distance_from_company"].min()*0.8, 2),
                "nurseries": round(df.loc[df["type_of_place"] == "Nursery School"]["distance_from_company"].min()*0.8, 1),
                "airports": round(df.loc[df["type_of_place"] == "Airport"]["distance_from_company"].min(), 1),
                'city' : city
}
    return weights

0.3153114918252313

In [99]:
london_weight = city_weights(london)
london_weight

{'bars': 0.19,
 'nightclubs': 1.17,
 'elementary_schools': 2.27,
 'nurseries': 0.5,
 'airports': 15.2,
 'city': 'London'}

In [100]:
newyork_weight = city_weights(new_york)
sanfrancisco_weight = city_weights(san_francisco)

In [104]:
def city_score(city_weight1, city_weight2, city_weight3):
    
    keys = list(city_weight1.keys())
    score = []
    
    for i in range(len(city_weight1)):
    
        if (city_weight1[keys[i]] < city_weight2[keys[i]]) & (city_weight1[keys[i]] < city_weight3[keys[i]]):
            score.append(city_weight1['city'])
            
        elif (city_weight2[keys[i]] < city_weight2[keys[i]]) & (city_weight2[keys[i]] < city_weight3[keys[i]]):
            score.append(city_weight2['city'])
        
        elif (city_weight3[keys[i]] < city_weight2[keys[i]]) & (city_weight3[keys[i]] < city_weight1[keys[i]]):
            score.append(city_weight3['city'])
    
    return f"The best city for the HQ is {s.multimode(score)}"

In [105]:
city_score(london_weight, newyork_weight, sanfrancisco_weight)

"The best city for the HQ is ['London']"